.message-panel {
  position: fixed;
  right: 8px;
  bottom: 8px;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.message-element.card {
  display: inline-block;
  border-radius: 5px;
  margin: 4px 0px;
}

.message-element p {
  margin: 1em;
}